<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Grade</title>
</head>
<body>
    <h1>Add Grade</h1>
    {% if success.display %}
        <p>Successfully awarded grade {{ success.grade }} to student {{ success.student_no }} for class {{ success.course_id }}</p>
    {% elif error.display %}
        <p>You need to select a student, course and grade.
        </p>
        {% endif %}
    <form action="{{ url_for('add_grade') }}" method="post">
        <label for="student">Student:</label>
        <select name="student" id="student">
            <option selected="{{ sel_student }}">
                {% if sel_student %}
                    {{ sel_student }}
                {% else %}
                Select
                {% endif %}
            </option>
            {% for student in students %}
                <option value="{{ student.student_no }}">{{student.student_no}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="course">Course:</label>
        <select name="course" id="course">
            <option selected="{{sel_course}}">
                {% if sel_course %}
                    {{ sel_course }}
                {% else %}
                Select
                {% endif %}
            </option>
            {% for course in courses %}
                <option value="{{ course.course_id }}">{{ course.course_id }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="grade">Grade:</label>
        <select name="grade" id="grade">
            <option value="">Select</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to Main Page</a>
</body>
</html>
